.navbar-inverse{
    background-color: #4373a7;
    border-color: #428bca;
    border-radius: 0;
}
.imgcontainer {
    text-align: right;
}
.spacer {
    margin-left: 10px;
}
.space {
text-align: right;
}
.glyph {
color: gold;
    font-weight: bolder;
    text-align: center;
}
.texte {
    color: gold;
    font-family:trebuchet, helvetica, sans-serif;
    font-weight:bold;
}
.parag{
    font-family:arial, sans-serif;
    font-size:150%;
}
h4{
    font-weight: bold;
}
.back{
    background-color: #f1f1f1;
}
