<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Handassat Sahel</a>
    </div>
    <ul class="nav navbar-nav">
      <li  class="active"><a routerLink="/home" class="glyphicon glyphicon-home"> Home</a></li>
      <li><a routerLink="/nouveau-employe">RechercherEmploye</a></li>
      <li><a routerLink="/nvConge">Demandes de congés</a></li>
      <li><a  routerLink="/nvFormation"> Demander de Formation</a></li>
      <li><a routerLink="/newFichePaie">Nouveau Fiche de Paie</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a (click)="logOut()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    </ul>
  </div>
</nav>
<div class="row back">
  <div class="col-lg-7">
    <div class="spacer">
  <h3 class="texte">Présentation de l’entreprise</h3>
      <br/>
    <h4>HANDASSAT SAHEL</h4>
      <br/>
    <p class="parag">Fondée en 2012, HANDASSAT SAHEL, est une entreprise de Bâtiment et de Travaux Publics, génie civil.

      HANDASSAT SAHEL, enrichie d’une expérience de plus de 7 ans, continue à  se développer en faisant de la qualité et de la sécurité, les centres de ses préoccupations. Grâce à  un personnel qualifiés et une mise à  niveau de ses équipements.

      HANDASSAT SAHEL réalise la construction d’édifices, d’aménagements intérieurs, d’entretien, de réaménagement ou de démolition. Ces réalisations comprennent des logements collectifs, des locaux commerciaux et industriels, des centres de loisirs (piscines, salles omnisports, théâtres, …), des lieux publics (écoles, hôpitaux, mosquées, …) …</p>
  </div>
  </div>
  <div class="w3-container">
  <div class="col-md-4">
    <div class="imgcontainer">
    <img src="../../assets/images/logo.jpg" alt="logo" class="logo">
      <br/>
      <br/>
      <br/>
      <p class="glyphicon glyphicon-map-marker left space glyph "> Adresse : </p>
      <br/>
      N 172 bloc C A.F-Tiznit
      <br/>
      <br/>
      <p class="glyphicon glyphicon-earphone glyph"> Téléphone :</p>
      <br/>
      05 28 86 71 36
      <br/>
      <br/>
      <p class="glyphicon glyphicon-print glyph"> FAX :</p>
      <br/>
      05 28 86 71 36
      <br/>
      <br/>
      <p class="glyphicon glyphicon-envelope glyph"> Email :</p>
      <br/>
      handassatsahel@gmail.com
    </div>
    </div>
  </div>
  </div>

